In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
citibike_202012_data = pd.read_csv("JC-202012-citibike-tripdata.csv")
citibike_202012_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [3]:
citibike_202011_data = pd.read_csv("JC-202011-citibike-tripdata.csv")
citibike_202011_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,756,2020-11-01 00:11:32.6250,2020-11-01 00:24:09.5850,3275,Columbus Drive,40.718355,-74.038914,3225,Baldwin at Montgomery,40.723659,-74.064194,42436,Subscriber,1984,1
1,584,2020-11-01 00:14:20.4820,2020-11-01 00:24:04.7820,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,46532,Customer,1969,0
2,403,2020-11-01 00:22:55.8820,2020-11-01 00:29:39.0950,3203,Hamilton Park,40.727596,-74.044247,3483,Montgomery St,40.719420,-74.050990,35139,Subscriber,1980,1
3,498,2020-11-01 00:41:37.4270,2020-11-01 00:49:55.7010,3268,Lafayette Park,40.713464,-74.062859,3213,Van Vorst Park,40.718489,-74.047727,46539,Customer,1969,0
4,151,2020-11-01 00:53:21.2340,2020-11-01 00:55:52.8060,3185,City Hall,40.717733,-74.043845,3276,Marin Light Rail,40.714584,-74.042817,44388,Subscriber,1986,1

In [4]:
citibike_202010_data = pd.read_csv("JC-202010-citibike-tripdata.csv")
citibike_202009_data = pd.read_csv("JC-202009-citibike-tripdata.csv")
citibike_202008_data = pd.read_csv("JC-202008-citibike-tripdata.csv")
citibike_202007_data = pd.read_csv("JC-202007-citibike-tripdata.csv")
citibike_2020_end_data = pd.concat([citibike_202007_data, citibike_202008_data, citibike_202009_data, citibike_202010_data, citibike_202011_data, citibike_202012_data])

In [5]:
citibike_2020_end_data.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [6]:
citibike_2020_end_data.to_csv("citibike_2020_end.csv", index=False)

In [7]:
citibike_2020_end_data.shape

(198835, 15)

In [8]:
citibike_202007_data.shape

(38680, 15)

In [9]:
citibike_202008_data.shape

(43267, 15)

In [10]:
citibike_202009_data.shape

(53833, 15)

In [11]:
citibike_202010_data.shape

(30086, 15)

In [12]:
citibike_202011_data.shape

(21275, 15)

In [13]:
citibike_202012_data.shape

(11694, 15)

In [14]:
citibike_2020_end_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2333,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,3694,Jackson Square,40.711130,-74.078900,3276,Marin Light Rail,40.714584,-74.042817,42579,Customer,1969,0
1,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
2,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
3,1488,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,3677,Glenwood Ave,40.727551,-74.071061,3194,McGinley Square,40.725340,-74.067622,44424,Subscriber,1995,2
4,2682,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,3191,Union St,40.718211,-74.083639,3193,Lincoln Park,40.724605,-74.078406,42186,Subscriber,1993,1

In [15]:
citibike_202012_data.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [16]:
citibike_202006_data = pd.read_csv("JC-202006-citibike-tripdata.csv")
citibike_202005_data = pd.read_csv("JC-202005-citibike-tripdata.csv")
citibike_202004_data = pd.read_csv("JC-202004-citibike-tripdata.csv")
citibike_202003_data = pd.read_csv("JC-202003-citibike-tripdata.csv")
citibike_202002_data = pd.read_csv("JC-202002-citibike-tripdata.csv")
citibike_202001_data = pd.read_csv("JC-202001-citibike-tripdata.csv")
citibike_2020_begin_data = pd.concat([citibike_202001_data, citibike_202002_data, citibike_202003_data, citibike_202004_data, citibike_202005_data, citibike_202006_data])

In [17]:
citibike_2020_begin_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [18]:
citibike_2020_begin_data.shape

(137967, 15)

In [19]:
citibike_2020_data = pd.concat([citibike_2020_begin_data, citibike_2020_end_data])
citibike_2020_data.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [20]:
citibike_2020_data.shape

(336802, 15)

In [21]:
citibike_201901_data = pd.read_csv("JC-201901-citibike-tripdata.csv")
citibike_201902_data = pd.read_csv("JC-201902-citibike-tripdata.csv")
citibike_201903_data = pd.read_csv("JC-201903-citibike-tripdata.csv")
citibike_201904_data = pd.read_csv("JC-201904-citibike-tripdata.csv")
citibike_201905_data = pd.read_csv("JC-201905-citibike-tripdata.csv")
citibike_201906_data = pd.read_csv("JC-201906-citibike-tripdata.csv")
citibike_201907_data = pd.read_csv("JC-201907-citibike-tripdata.csv")
citibike_201908_data = pd.read_csv("JC-201908-citibike-tripdata.csv")
citibike_201909_data = pd.read_csv("JC-201909-citibike-tripdata.csv")
citibike_201910_data = pd.read_csv("JC-201910-citibike-tripdata.csv")
citibike_201911_data = pd.read_csv("JC-201911-citibike-tripdata.csv")
citibike_201912_data = pd.read_csv("JC-201912-citibike-tripdata.csv")
citibike_2019_data = pd.concat([citibike_201901_data, citibike_201902_data, citibike_201903_data, citibike_201904_data, citibike_201905_data, citibike_201906_data, citibike_201907_data, citibike_201908_data, citibike_201909_data, citibike_201910_data, citibike_201911_data, citibike_201912_data])
citibike_2019_data.shape

(404947, 15)

In [22]:
citibike_201801_data = pd.read_csv("JC-201801-citibike-tripdata.csv")
citibike_201802_data = pd.read_csv("JC-201802-citibike-tripdata.csv")
citibike_201803_data = pd.read_csv("JC-201803-citibike-tripdata.csv")
citibike_201804_data = pd.read_csv("JC-201804-citibike-tripdata.csv")
citibike_201805_data = pd.read_csv("JC-201805-citibike-tripdata.csv")
citibike_201806_data = pd.read_csv("JC-201806-citibike-tripdata.csv")
citibike_201807_data = pd.read_csv("JC-201807-citibike-tripdata.csv")
citibike_201808_data = pd.read_csv("JC-201808-citibike-tripdata.csv")
citibike_201809_data = pd.read_csv("JC-201809-citibike-tripdata.csv")
citibike_201810_data = pd.read_csv("JC-201810-citibike-tripdata.csv")
citibike_201811_data = pd.read_csv("JC-201811-citibike-tripdata.csv")
citibike_201812_data = pd.read_csv("JC-201812-citibike-tripdata.csv")
citibike_2018_data = pd.concat([citibike_201801_data, citibike_201802_data, citibike_201803_data, citibike_201804_data, citibike_201805_data, citibike_201806_data, citibike_201807_data, citibike_201808_data, citibike_201809_data, citibike_201910_data, citibike_201811_data, citibike_201812_data])
citibike_2018_data.shape

(357007, 15)

In [23]:
citibike_2018_data.head(20)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
5,613,2018-01-01 22:05:05.8740,2018-01-01 22:15:19.4190,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,31859,Subscriber,1982,1
6,290,2018-01-02 12:13:51.7940,2018-01-02 12:18:42.1070,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31694,Subscriber,1958,1
7,381,2018-01-02 12:50:03.3430,2018-01-02 12:56:24.6440,3183,Exchange Place,40.716247,-74.033459,3205,JC Medical Center,40.716540,-74.049638,31754,Subscriber,1989,2
8,318,2018-01-02 13:55:58.2430,2018-01-02 14:01:16.8810,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,31816,Subscriber,1960,1
9,1852,2018-01-02 16:55:29.6390,2018-01-02 17:26:22.3050,3183,Exchange Place,40.716247,-74.033459,3281,Leonard Gordon Park,40.745910,-74.057271,31754,Subscriber,1976,1
10,460,2018-01-02 17:01:50.5860,2018-01-02 17:09:31.4340,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33463,Subscriber,1989,2
11,403,2018-01-02 17:05:12.2360,2018-01-02 17:11:55.2630,3183,Exchange Place,40.716247,-74.033459,3205,JC Medical Center,40.716540,-74.049638,26256,Subscriber,1985,1
12,264,2018-01-02 17:05:12.6730,2018-01-02 17:09:37.4020,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29616,Subscriber,1974,1
13,282,2018-01-02 17:19:56.6090,2018-01-02 17:24:39.5340,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29681,Subscriber,1976,1
14,308,2018-01-02 17:31:45.9880,2018-01-02 17:36:54.3590,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31949,Subscriber,1968,1
15,561,2018-01-02 17:32:54.8400,2018-01-02 17:42:16.3140,3183,Exchange Place,40.716247,-74.033459,3269,Brunswick & 6th,40.726012,-74.050389,29591,Subscriber,1976,1
16,114,2018-01-02 17:37:44.3450,2018-01-02 17:39:38.8760,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31925,Subscriber,1988,1
17,302,2018-01-02 17:54:04.8770,2018-01-02 17:59:06.9730,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31777,Subscriber,1990,1
18,230,2018-01-02 17:58:24.6360,2018-01-02 18:02:15.6320,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31763,Subscriber,1992,1
19,596,2018-01-02 18:05:59.6240,2018-01-02 18:15:55.8590,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29662,Subscriber,1992,1

In [24]:
citibike_2018_data.tail(20)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
20185,668,2018-12-14 12:34:01.0310,2018-12-14 12:45:09.6550,3694,Jackson Square,40.71113,-74.0789,3195,Sip Ave,40.730743,-74.063784,26312,Subscriber,1994,1
20186,645,2018-12-15 13:31:59.3590,2018-12-15 13:42:45.2030,3694,Jackson Square,40.71113,-74.0789,3195,Sip Ave,40.730743,-74.063784,29224,Subscriber,1994,1
20187,1396,2018-12-15 16:28:38.1250,2018-12-15 16:51:54.9460,3694,Jackson Square,40.71113,-74.0789,3279,Dixon Mills,40.721630,-74.049968,29126,Subscriber,1988,2
20188,649,2018-12-16 11:55:07.8820,2018-12-16 12:05:57.4260,3694,Jackson Square,40.71113,-74.0789,3195,Sip Ave,40.730743,-74.063784,29658,Subscriber,1994,1
20189,984,2018-12-17 06:26:18.2690,2018-12-17 06:42:42.9330,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26251,Subscriber,1977,1
20190,687,2018-12-17 12:18:47.1320,2018-12-17 12:30:14.5090,3694,Jackson Square,40.71113,-74.0789,3195,Sip Ave,40.730743,-74.063784,29535,Subscriber,1994,1
20191,726,2018-12-17 17:38:45.4430,2018-12-17 17:50:52.4320,3694,Jackson Square,40.71113,-74.0789,3194,McGinley Square,40.725340,-74.067622,29276,Subscriber,1973,2
20192,1041,2018-12-18 06:21:57.7450,2018-12-18 06:39:19.7440,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,29221,Subscriber,1977,1
20193,654,2018-12-18 12:12:40.2980,2018-12-18 12:23:34.4020,3694,Jackson Square,40.71113,-74.0789,3195,Sip Ave,40.730743,-74.063784,29300,Subscriber,1994,1
20194,1015,2018-12-19 06:15:11.2330,2018-12-19 06:32:06.2450,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26220,Subscriber,1977,1
20195,667,2018-12-19 11:39:50.4270,2018-12-19 11:50:58.2750,3694,Jackson Square,40.71113,-74.0789,3195,Sip Ave,40.730743,-74.063784,29299,Subscriber,1994,1
20196,687,2018-12-20 13:28:39.0590,2018-12-20 13:40:06.6410,3694,Jackson Square,40.71113,-74.0789,3195,Sip Ave,40.730743,-74.063784,29258,Subscriber,1994,1
20197,625,2018-12-21 12:05:04.3890,2018-12-21 12:15:29.5930,3694,Jackson Square,40.71113,-74.0789,3195,Sip Ave,40.730743,-74.063784,29664,Subscriber,1994,1
20198,826,2018-12-21 16:34:37.2330,2018-12-21 16:48:24.0150,3694,Jackson Square,40.71113,-74.0789,3186,Grove St PATH,40.719586,-74.043117,26306,Subscriber,1991,1
20199,640,2018-12-22 10:27:40.6590,2018-12-22 10:38:21.4170,3694,Jackson Square,40.71113,-74.0789,3195,Sip Ave,40.730743,-74.063784,26298,Subscriber,1994,1
20200,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.71113,-74.0789,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
20201,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.71113,-74.0789,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
20202,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.71113,-74.0789,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
20203,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.71113,-74.0789,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
20204,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.71113,-74.0789,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [91]:
citibike_201701_data = pd.read_csv("JC-201701-citibike-tripdata.csv")
citibike_201702_data = pd.read_csv("JC-201702-citibike-tripdata.csv")
citibike_201703_data = pd.read_csv("JC-201703-citibike-tripdata.csv")
citibike_201704_data = pd.read_csv("JC-201704-citibike-tripdata.csv")
citibike_201705_data = pd.read_csv("JC-201705-citibike-tripdata.csv")
citibike_201706_data = pd.read_csv("JC-201706-citibike-tripdata.csv")
citibike_201707_data = pd.read_csv("JC-201707-citibike-tripdata.csv")
citibike_201708_data = pd.read_csv("JC-201708-citibike-tripdata.csv")
citibike_201709_data = pd.read_csv("JC-201709-citibike-tripdata.csv")
citibike_201710_data = pd.read_csv("JC-201710-citibike-tripdata.csv")
citibike_201711_data = pd.read_csv("JC-201711-citibike-tripdata.csv")
citibike_201712_data = pd.read_csv("JC-201712-citibike-tripdata.csv")
citibike_2017_data = pd.concat([citibike_201701_data, citibike_201702_data, citibike_201703_data, citibike_201704_data, citibike_201705_data, citibike_201706_data, citibike_201707_data, citibike_201708_data, citibike_201709_data, citibike_201710_data, citibike_201711_data, citibike_201712_data])
citibike_2017_data.shape

(294928, 30)

In [26]:
citibike_201701_data.shape

(12926, 15)

In [27]:
citibike_201702_data.shape

(14026, 15)

In [28]:
citibike_201703_data.shape

(12201, 15)

In [29]:
citibike_201704_data.shape

(21186, 15)

In [30]:
citibike_201705_data.shape

(25966, 15)

In [31]:
citibike_201706_data.shape

(32060, 15)

In [32]:
citibike_201707_data.shape

(33573, 15)

In [33]:
citibike_201708_data.shape

(35472, 15)

In [34]:
citibike_201709_data.shape

(33119, 15)

In [35]:
citibike_201710_data.shape

(34919, 15)

In [36]:
citibike_201711_data.shape

(23582, 15)

In [37]:
citibike_201712_data.shape

(15898, 15)

In [92]:
citibike_2017_data.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,...,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148.0,2017-01-01 00:21:32,2017-01-01 00:24:01,3276.0,Marin Light Rail,40.714584,-74.042817,3185.0,City Hall,40.717733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1283.0,2017-01-01 00:24:35,2017-01-01 00:45:58,3183.0,Exchange Place,40.716247,-74.033459,3198.0,Heights Elevator,40.748716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,372.0,2017-01-01 00:38:19,2017-01-01 00:44:31,3183.0,Exchange Place,40.716247,-74.033459,3211.0,Newark Ave,40.721525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1513.0,2017-01-01 00:38:37,2017-01-01 01:03:50,3194.0,McGinley Square,40.725340,-74.067622,3271.0,Danforth Light Rail,40.692640,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,639.0,2017-01-01 01:47:52,2017-01-01 01:58:31,3183.0,Exchange Place,40.716247,-74.033459,3203.0,Hamilton Park,40.727596,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
citibike_2017_data.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender', 'tripduration', 'starttime', 'stoptime',
       'start station id', 'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [94]:
citibike_201712_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,452,2017-12-01 00:00:59,2017-12-01 00:08:32,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29607,Subscriber,1988.0,1
1,159,2017-12-01 00:04:42,2017-12-01 00:07:21,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,26269,Subscriber,1992.0,1
2,175,2017-12-01 00:17:00,2017-12-01 00:19:55,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26269,Subscriber,1992.0,1
3,455,2017-12-01 00:50:22,2017-12-01 00:57:57,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,31929,Subscriber,1990.0,1
4,670,2017-12-01 00:55:03,2017-12-01 01:06:13,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26274,Subscriber,1962.0,1

In [41]:
citibike_201801_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [95]:
citibike_201703_data.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,1076,2017-03-01 00:03:02,2017-03-01 00:20:58,3275,Columbus Drive,40.718355,-74.038914,3207,Oakland Ave,40.737604,-74.052478,26283,Subscriber,1991.0,1
1,978,2017-03-01 00:09:02,2017-03-01 00:25:20,3220,5 Corners Library,40.734961,-74.059503,3195,Sip Ave,40.730743,-74.063784,24559,Subscriber,1987.0,1
2,1789,2017-03-01 00:28:11,2017-03-01 00:58:00,3195,Sip Ave,40.730743,-74.063784,3186,Grove St PATH,40.719586,-74.043117,24559,Subscriber,1987.0,1
3,613,2017-03-01 00:52:30,2017-03-01 01:02:44,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26261,Subscriber,1962.0,1
4,2418,2017-03-01 00:54:40,2017-03-01 01:34:59,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26277,Subscriber,1975.0,1

In [96]:
citibike_201701_data.rename(columns = {'Trip Duration':'tripduration', 'Start Time':'starttime', 'Stop Time':'stoptime', 'Start Station ID':'start station id',
       'Start Station Name':'start station name', 'Start Station Latitude':'start station latitude',
       'Start Station Longitude':'start station longitude', 'End Station ID':'end station id', 'End Station Name':'end station name',
       'End Station Latitude':'end station latitude', 'End Station Longitude':'end station longitude', 'Bike ID':'bikeid', 'User Type':'usertype',
       'Birth Year':'birth year', 'Gender':'gender'}, inplace=True)
citibike_201701_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [44]:
citibike_201701_data.rename(columns = {'Trip Duration':'tripduration'})
citibike_201701_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [97]:
citibike_201702_data.rename(columns = {'Trip Duration':'tripduration', 'Start Time':'starttime', 'Stop Time':'stoptime', 'Start Station ID':'start station id',
       'Start Station Name':'start station name', 'Start Station Latitude':'start station latitude',
       'Start Station Longitude':'start station longitude', 'End Station ID':'end station id', 'End Station Name':'end station name',
       'End Station Latitude':'end station latitude', 'End Station Longitude':'end station longitude', 'Bike ID':'bikeid', 'User Type':'usertype',
       'Birth Year':'birth year', 'Gender':'gender'}, inplace=True)
citibike_201702_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,435,2017-02-01 00:06:33,2017-02-01 00:13:49,3214,Essex Light Rail,40.712774,-74.036486,3199,Newport Pkwy,40.728745,-74.032108,24493,Subscriber,1988.0,1
1,779,2017-02-01 01:02:21,2017-02-01 01:15:21,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26232,Subscriber,1962.0,1
2,145,2017-02-01 01:56:05,2017-02-01 01:58:30,3211,Newark Ave,40.721525,-74.046305,3278,Monmouth and 6th,40.725685,-74.048790,24511,Subscriber,1972.0,1
3,184,2017-02-01 04:38:42,2017-02-01 04:41:46,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,24535,Subscriber,1983.0,1
4,197,2017-02-01 04:42:22,2017-02-01 04:45:39,3214,Essex Light Rail,40.712774,-74.036486,3183,Exchange Place,40.716247,-74.033459,26255,Subscriber,1963.0,1

In [98]:
citibike_201703_data.rename(columns = {'Trip Duration':'tripduration', 'Start Time':'starttime', 'Stop Time':'stoptime', 'Start Station ID':'start station id',
       'Start Station Name':'start station name', 'Start Station Latitude':'start station latitude',
       'Start Station Longitude':'start station longitude', 'End Station ID':'end station id', 'End Station Name':'end station name',
       'End Station Latitude':'end station latitude', 'End Station Longitude':'end station longitude', 'Bike ID':'bikeid', 'User Type':'usertype',
       'Birth Year':'birth year', 'Gender':'gender'}, inplace=True)
citibike_201703_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1076,2017-03-01 00:03:02,2017-03-01 00:20:58,3275,Columbus Drive,40.718355,-74.038914,3207,Oakland Ave,40.737604,-74.052478,26283,Subscriber,1991.0,1
1,978,2017-03-01 00:09:02,2017-03-01 00:25:20,3220,5 Corners Library,40.734961,-74.059503,3195,Sip Ave,40.730743,-74.063784,24559,Subscriber,1987.0,1
2,1789,2017-03-01 00:28:11,2017-03-01 00:58:00,3195,Sip Ave,40.730743,-74.063784,3186,Grove St PATH,40.719586,-74.043117,24559,Subscriber,1987.0,1
3,613,2017-03-01 00:52:30,2017-03-01 01:02:44,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26261,Subscriber,1962.0,1
4,2418,2017-03-01 00:54:40,2017-03-01 01:34:59,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26277,Subscriber,1975.0,1

In [100]:
citibike_2017_data = pd.concat([citibike_201701_data, citibike_201702_data, citibike_201703_data, citibike_201704_data, citibike_201705_data, citibike_201706_data, citibike_201707_data, citibike_201708_data, citibike_201709_data, citibike_201710_data, citibike_201711_data, citibike_201712_data])
citibike_2017_data.shape

(294928, 15)

In [101]:
citibike_2017_data.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [49]:
citibike_2020_data.to_csv("citibike_2020.csv", index=False)

In [50]:
citibike_2019_data.to_csv("citibike_2019.csv", index=False)

In [51]:
citibike_2018_data.to_csv("citibike_2018.csv", index=False)

In [52]:
citibike_2017_data.to_csv("citibike_2017.csv", index=False)

In [53]:
citibike_2018_data.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [54]:
citibike_2019_data.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [55]:
citibike_2020_data.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [102]:
citibike_2017_data['birth year'].astype

<bound method NDFrame.astype of 0        1983.0
1        1978.0
2        1989.0
3        1961.0
4        1993.0
          ...
15893    1987.0
15894    1994.0
15895    1957.0
15896    1964.0
15897    1979.0
Name: birth year, Length: 294928, dtype: float64>

In [103]:
citibike_2017_data.dropna(inplace=True)

In [104]:
citibike_2017_data['birth year'] = citibike_2017_data['birth year'].astype('int64', errors='raise')

In [105]:
citibike_2017_data.shape

(275196, 15)

In [ ]:
citibike_2017_data['birth year'] = citibike_2017_data['birth year'].astype('int64', errors='raise')

In [106]:
citibike_2017_data.shape

(275196, 15)

In [107]:
citibike_2017_data['birth year'].astype

<bound method NDFrame.astype of 0        1983
1        1978
2        1989
3        1961
4        1993
         ...
15893    1987
15894    1994
15895    1957
15896    1964
15897    1979
Name: birth year, Length: 275196, dtype: int64>

In [108]:
citibike_2017_data.to_csv("citibike_2017.csv", index=False)

In [109]:
citibike_2017_data.shape

(275196, 15)

In [130]:
citibike_2017_data['starttime'].astype

<bound method NDFrame.astype of 0        2017-01-01 00:21:32.0000
1        2017-01-01 00:24:35.0000
2        2017-01-01 00:38:19.0000
3        2017-01-01 00:38:37.0000
4        2017-01-01 01:47:52.0000
                   ...
15893    2017-12-31 21:54:12.0000
15894    2017-12-31 22:10:18.0000
15895    2017-12-31 22:55:10.0000
15896    2017-12-31 23:20:54.0000
15897    2017-12-31 23:33:55.0000
Name: starttime, Length: 275196, dtype: object>

In [111]:
citibike_2017_data['starttime_new'] = citibike_2017_data['starttime'].astype(str) + '.0000'
citibike_2017_data['stoptime_new'] = citibike_2017_data['stoptime'].astype(str) + '.0000'

In [113]:
citibike_2017_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,starttime_new,stoptime_new
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983,1,2017-01-01 00:21:32.0000,2017-01-01 00:24:01.0000
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978,1,2017-01-01 00:24:35.0000,2017-01-01 00:45:58.0000
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989,1,2017-01-01 00:38:19.0000,2017-01-01 00:44:31.0000
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961,1,2017-01-01 00:38:37.0000,2017-01-01 01:03:50.0000
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993,1,2017-01-01 01:47:52.0000,2017-01-01 01:58:31.0000

In [115]:
citibike_2017_data.drop(columns=['starttime','stoptime'], inplace=True)
citibike_2017_data.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,starttime_new,stoptime_new
0,148,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983,1,2017-01-01 00:21:32.0000,2017-01-01 00:24:01.0000
1,1283,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978,1,2017-01-01 00:24:35.0000,2017-01-01 00:45:58.0000
2,372,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989,1,2017-01-01 00:38:19.0000,2017-01-01 00:44:31.0000
3,1513,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961,1,2017-01-01 00:38:37.0000,2017-01-01 01:03:50.0000
4,639,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993,1,2017-01-01 01:47:52.0000,2017-01-01 01:58:31.0000

In [116]:
citibike_2017_data.rename(columns= {'starttime_new' : 'starttime', 'stoptime_new' : 'stoptime'})

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,starttime,stoptime
0,148,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983,1,2017-01-01 00:21:32.0000,2017-01-01 00:24:01.0000
1,1283,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978,1,2017-01-01 00:24:35.0000,2017-01-01 00:45:58.0000
2,372,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989,1,2017-01-01 00:38:19.0000,2017-01-01 00:44:31.0000
3,1513,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961,1,2017-01-01 00:38:37.0000,2017-01-01 01:03:50.0000
4,639,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993,1,2017-01-01 01:47:52.0000,2017-01-01 01:58:31.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15893,972,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987,2,2017-12-31 21:54:12.0000,2017-12-31 22:10:25.0000
15894,382,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994,1,2017-12-31 22:10:18.0000,2017-12-31 22:16:41.0000
15895,93,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,31920,Subscriber,1957,1,2017-12-31 22:55:10.0000,2017-12-31 22:56:43.0000
15896,186,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964,1,2017-12-31 23:20:54.0000,2017-12-31 23:24:00.0000
15897,422,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979,1,2017-12-31 23:33:55.0000,2017-12-31 23:40:57.0000

In [78]:
citibike_201701_data.drop(columns=['starttime', 'stoptime'], inplace=True)

In [79]:
citibike_201701_data.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,starttime_new,stoptime_new
0,148,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1,2017-01-01 00:21:32.0000,2017-01-01 00:24:01.0000
1,1283,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1,2017-01-01 00:24:35.0000,2017-01-01 00:45:58.0000
2,372,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1,2017-01-01 00:38:19.0000,2017-01-01 00:44:31.0000
3,1513,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1,2017-01-01 00:38:37.0000,2017-01-01 01:03:50.0000
4,639,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1,2017-01-01 01:47:52.0000,2017-01-01 01:58:31.0000

In [80]:
citibike_201701_data.rename(columns= {'starttime_new' : 'starttime', 'stoptime_new' : 'stoptime'}, inplace=True)

In [81]:
citibike_201701_data.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,starttime,stoptime
0,148,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1,2017-01-01 00:21:32.0000,2017-01-01 00:24:01.0000
1,1283,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1,2017-01-01 00:24:35.0000,2017-01-01 00:45:58.0000
2,372,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1,2017-01-01 00:38:19.0000,2017-01-01 00:44:31.0000
3,1513,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1,2017-01-01 00:38:37.0000,2017-01-01 01:03:50.0000
4,639,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1,2017-01-01 01:47:52.0000,2017-01-01 01:58:31.0000

In [118]:
cols = list(citibike_2017_data.columns.values)

In [119]:
cols

['tripduration',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender',
 'starttime_new',
 'stoptime_new']

In [122]:
citibike_2017_data = citibike_2017_data[['tripduration', 'starttime_new', 'stoptime_new',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']]

In [124]:
citibike_2017_data.head()

,tripduration,starttime_new,stoptime_new,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32.0000,2017-01-01 00:24:01.0000,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983,1
1,1283,2017-01-01 00:24:35.0000,2017-01-01 00:45:58.0000,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978,1
2,372,2017-01-01 00:38:19.0000,2017-01-01 00:44:31.0000,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989,1
3,1513,2017-01-01 00:38:37.0000,2017-01-01 01:03:50.0000,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961,1
4,639,2017-01-01 01:47:52.0000,2017-01-01 01:58:31.0000,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993,1

In [88]:
citibike_201702_data['starttime_new'] = citibike_201702_data['starttime'].astype(str) + '.0000'
citibike_201702_data['stoptime_new'] = citibike_201702_data['stoptime'].astype(str) + '.0000'
citibike_201702_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,starttime_new,stoptime_new
0,435,2017-02-01 00:06:33,2017-02-01 00:13:49,3214,Essex Light Rail,40.712774,-74.036486,3199,Newport Pkwy,40.728745,-74.032108,24493,Subscriber,1988.0,1,2017-02-01 00:06:33.0000,2017-02-01 00:13:49.0000
1,779,2017-02-01 01:02:21,2017-02-01 01:15:21,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26232,Subscriber,1962.0,1,2017-02-01 01:02:21.0000,2017-02-01 01:15:21.0000
2,145,2017-02-01 01:56:05,2017-02-01 01:58:30,3211,Newark Ave,40.721525,-74.046305,3278,Monmouth and 6th,40.725685,-74.048790,24511,Subscriber,1972.0,1,2017-02-01 01:56:05.0000,2017-02-01 01:58:30.0000
3,184,2017-02-01 04:38:42,2017-02-01 04:41:46,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,24535,Subscriber,1983.0,1,2017-02-01 04:38:42.0000,2017-02-01 04:41:46.0000
4,197,2017-02-01 04:42:22,2017-02-01 04:45:39,3214,Essex Light Rail,40.712774,-74.036486,3183,Exchange Place,40.716247,-74.033459,26255,Subscriber,1963.0,1,2017-02-01 04:42:22.0000,2017-02-01 04:45:39.0000

In [89]:
citibike_201701_data.drop(columns=['starttime', 'stoptime'], inplace=True)

In [125]:
citibike_2017_data.rename(columns= {'starttime_new' : 'starttime', 'stoptime_new' : 'stoptime'}, inplace=True)
citibike_2017_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32.0000,2017-01-01 00:24:01.0000,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983,1
1,1283,2017-01-01 00:24:35.0000,2017-01-01 00:45:58.0000,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978,1
2,372,2017-01-01 00:38:19.0000,2017-01-01 00:44:31.0000,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989,1
3,1513,2017-01-01 00:38:37.0000,2017-01-01 01:03:50.0000,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961,1
4,639,2017-01-01 01:47:52.0000,2017-01-01 01:58:31.0000,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993,1

In [128]:
citibike_2017_data['tripduration'].astype

<bound method NDFrame.astype of 0         148
1        1283
2         372
3        1513
4         639
         ...
15893     972
15894     382
15895      93
15896     186
15897     422
Name: tripduration, Length: 275196, dtype: int64>

In [127]:
citibike_2017_data.to_csv("citibike_2017.csv", index=False)